* {
    box-sizing: border-box;

    /* Colour variables*/
    --main-background: #c0d6df;
    --sidebar-background: #e8dab2;
    --sidebar-text: #4f6d7a;
    --sidebar-button: #eaeaea;
    --sidebar-button-pressed: #c0d6df;
    --sidebar-button-outline: #4f6d7a;
    --options-page-background: #e8dab2;
    --options-page-border: #dd6e42;
    --learning-link-background: #e8dab2;
    --learning-link-border: #dd6e42;
    --learning-link-hover-background: #4f6d7a;
    --learning-link-hover-text: #e8dab2;
    --algorithm-card-background: #e8dab2;
    --algorithm-card-border: #dd6e42;
}

/* General Styling */

body {
    position: relative;
    display: flex;
    flex-direction: row;
    /* min-width: 100vw; */
    min-height: max(100vh, 900px);
    margin: 0;
    padding: 0;
}

#main-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--main-background);
}

.padding-top-of-screen {
    padding-top: 5rem;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

.centered {
    margin-top: 7.5%;
}

/* timer.html Styling */

#user-data-container {
    width: 20%;
    background-color: var(--sidebar-background);
}

#navbar-corner {
    display: flex;
    flex-direction: column;
    height: 15%;
    width: 100%;
    background-color: var(--main-background);
    border: 3px solid var(--sidebar-background);
}

.nav-link-corner {
    display: flex;
    align-items: center;
    height: calc(100% / 3);
    padding-left: 1rem;
    border: 3px solid var(--sidebar-background);
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
}

.nav-link-corner:hover {
    background-color: var(--sidebar-background);
    color: var(--sidebar-text);
    border-color: var(--main-background);
}

#user-data-container h2 {
    text-align: center;
    color: var(--sidebar-text);
    font-size: 2.5rem;
}

#user-records, #current-averages {
    grid-template-columns: 3fr 2fr;
    column-gap: 1rem;
    row-gap: 2rem;
    margin: 10px;
    font-size: 1.5rem;
}

#user-data-container button {
    width: 80%;
    height: auto;
    margin: 15% 10% 0 10%;;
    background-color: var(--sidebar-button);
    border: solid 2px var(--sidebar-button-outline);
    color: var(--sidebar-text);
    font-size: 1.5rem;
}

#user-data-container button:active {
    background-color: var(--sidebar-button-pressed);
}

#scramble-container {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    background-color: var(--sidebar-background);
    color: var(--sidebar-text);
}

#scramble-btns-container {
    flex-direction: column;
    gap: 5px;
}

#scramble-btns-container button {
    width: auto;
    height: 80%;
    padding: 0 1rem;
    margin: 0 3%;
    background-color: var(--sidebar-button);
    border: solid 2px var(--sidebar-button-outline);
    color: var(--sidebar-text);
    font-size: 2rem;
}

#scramble-btns-container button:active {
    background-color: var(--sidebar-button-pressed);
}

#scramble-text {
    width: 75%;
    height: 80%;
    padding-top: 1.5rem;
    margin: 0 3%;
    text-align: center;
    font-size: 3rem;
    overflow-x: hidden;
    overflow-y: auto;
}

#timer-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 85%;
}

#timer-container h2 {
    font-size: 3rem;
    color: black;
}

#timer {
    font-size: 15rem;
}

#current-averages {
    column-gap: 3rem;
    font-size: 2rem;
}

#options-page-border {
    display: none;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
    background-color: var(--options-page-border);
    border-radius: 20px;
}

#options-page {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    padding-bottom: 5%;
    background-color: var(--options-page-background);
    border-radius: 15px;
    font-size: 2rem;
    overflow-y: auto;
}

#options-title {
    width: 100%;
    padding: 10px;
    border-bottom: 5px solid var(--options-page-border);
    text-align: center;
    font-size: 3rem;
}

#inspection-time {
    outline: none;
    font-size: 2rem;
}

#hide-during-solve {
    position: relative;
    top: 0.2rem;
    width: 1.5rem;
    height: 1.5rem;
}

#hide-options-btn {
    width: auto;
    height: auto;
    padding: 0 1rem;
    margin: 10% 3% 0 3%;
    font-size: 2rem;
}


#show-user-data-btn {
    display: none;
    position: absolute;
    bottom: 10%;
    left: 35%;
    width: 30%;
    height: auto;
    background-color: var(--sidebar-button);
    border: solid 2px var(--sidebar-button-outline);
    color: var(--sidebar-text);
    font-size: 2rem;
}

#show-user-data-btn:active {
    background-color: var(--sidebar-background);
}

@media (max-width: 1100px) {
    #user-data-container {
        width: 100%;
        height: 100%;
        min-height: 700px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 10%;
    }

    #user-data-container button {
        margin: 3% 10%;
    }

    #icon-container {
        display: none;
    }

    #scramble-text {
        font-size: 2rem;
    }

    #scramble-options-btn {
        font-size: 1.4rem;
    }

    #timer {
        font-size: 5rem;
    }

    #show-user-data-btn {
        display: block;
    }

    .hidden-media {
        display: none;
    }
}

/* General learning pages styling */

#learning-header {
    text-align: center;
    font-size: 4rem;
    margin: 2rem;
}

#learning-sub-header {
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem;
}

#back-button {
    position: fixed;
    top: 6rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 3rem;
    background-color: var(--sidebar-button); 
    border: 3px solid var(--sidebar-button-outline);
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

#back-button:hover {
    background-color: var(--sidebar-button-pressed);
    cursor: pointer;
}

/* learning-page.html styling */

#navbar-top {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 5rem;
    width: 100%;
    padding: 0.5% 10%;
    background-color: var(--sidebar-background);
}

.nav-link-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    background-color: var(--main-background);
    border: 3px solid var(--sidebar-background);
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

.nav-link-top:hover {
    background-color: var(--sidebar-background);
    color: var(--sidebar-text);
    border-color: var(--main-background);
}

#learning-links-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    height: auto;
    min-height: 70%;
    width: 60%;
    margin: 0 20%;
}

.learning-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    background-color: var(--learning-link-background);
    border: 5px solid var(--learning-link-border);
    border-radius: 10px;
}

.learning-link:hover {
    background-color: var(--learning-link-hover-background);
    color: var(--learning-link-hover-text);
    cursor: pointer;
}

.learning-link-image {
    width: 60%;
}

.learning-link-label {
    font-size: 2rem;
}

@media (max-width: 1200px) {
    
    #learning-links-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr, 6);
        padding-bottom: 20px;
    }
}

/* Algorithm pages styling */

#filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 32px;
    height: 5rem;
    font-size: 1.5rem;
    background-color: var(--sidebar-background);
}

#algorithm-types {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    row-gap: 32px;
    height: 100%;
    padding: 1.75rem 1.75rem 1rem 1rem;
    overflow-y: auto;
}

#algorithm-types > label > input {
    width: 1rem;
    height: 1rem;
}

.algorithms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.algorithm-card {
    display: flex;
    align-items: center;
    width: 768px;
    height: 300px;
    margin: 16px;
    background-color: var(--algorithm-card-background);
    border: 8px solid var(--algorithm-card-border);
    border-radius: 16px;
}

.algorithm-img {
    width: 256px;
    height: 256px;
    margin: 0 32px;
}

.algorithm-text {
    text-align: center;
    width: 432px;
}

.algorithm-name{
    margin: 0 auto;
    font-size: 3rem;
}

.algorithm {
    font-size: 2rem;
}

@media (max-width: 850px) {
    .algorithm-card {
        width: 80vw;
        height: 50vw;
    }

    .algorithm-img {
        width: 50%;
        height: 80%;
    }

    .algorithm-text {
        width: 50%;
        margin-right: 2%;
    }

    .algorithm-name {
        font-size: 2rem;
    }

    .algorithm {
        font-size: 1rem;
    }
}