* {
    box-sizing: border-box;

    /* Colour variables*/
    --main-background: #c0d6df;
    --sidebar-background: #e8dab2;
    --sidebar-text: #4f6d7a;
    --sidebar-button: #eaeaea;
    --sidebar-button-pressed: #c0d6df;
    --sidebar-button-outline: #4f6d7a;
    --options-page-background: #e8dab2;
    --options-page-border: #dd6e42;
    --learning-link-background: #e8dab2;
    --learning-link-border: #dd6e42;
    --learning-link-hover-background: #4f6d7a;
    --learning-link-hover-text: #e8dab2;
    --algorithm-card-background: #e8dab2;
    --algorithm-card-border: #dd6e42;
    --solve-button-background: #eaeaea; 
    --solve-button-border: #dd6e42; 
    --solve-button-pressed: #e8dab2; 
    --solution-output-background: #e8dab2;
    --solution-output-border: #dd6e42;
    --virtual-cube-button-background: #eaeaea; 
    --virtual-cube-button-border: #dd6e42; 
    --virtual-cube-button-pressed: #e8dab2; 
}

/* General Styling */

body {
    position: relative;
    display: flex;
    flex-direction: row;
    /* min-width: 100vw; */
    min-height: max(100vh, 600px);
    margin: 0;
    padding: 0;
}

#main-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: auto;
    background-color: var(--main-background);
}

#navbar-top {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 80px;
    width: 100%;
    padding: 0.5% 10%;
    background-color: var(--sidebar-background);
    z-index: 3;
}

.nav-link-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    background-color: var(--main-background);
    border: 3px solid var(--sidebar-background);
    text-align: center;
    font-size: 32px;
    color: black;
    text-decoration: none;
}

.nav-link-top:hover {
    background-color: var(--sidebar-background);
    color: var(--sidebar-text);
    border-color: var(--main-background);
}

.padding-top-of-screen {
    padding-top: 80px;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

.centered {
    margin-top: 7.5%;
}

@media (max-width: 850px) {
    .nav-link-top {
        font-size: 22.4px;
    }
}

@media (max-width: 500px) {
    .nav-link-top {
        font-size: 14px;
    }
}

/* timer.html Styling */

#user-data-container {
    width: 20%;
    background-color: var(--sidebar-background);
}

#navbar-corner {
    display: flex;
    flex-direction: column;
    height: 15%;
    width: 100%;
    background-color: var(--main-background);
    border: 3px solid var(--sidebar-background);
}

.nav-link-corner {
    display: flex;
    align-items: center;
    height: calc(100% / 3);
    padding-left: 16px;
    border: 3px solid var(--sidebar-background);
    font-size: 20.8px;
    color: black;
    text-decoration: none;
}

.nav-link-corner:hover {
    background-color: var(--sidebar-background);
    color: var(--sidebar-text);
    border-color: var(--main-background);
}

#user-data-container h2 {
    text-align: center;
    color: var(--sidebar-text);
    font-size: 40px;
}

#user-records, #current-averages {
    grid-template-columns: 3fr 2fr;
    column-gap: 16px;
    row-gap: 32px;
    margin: 10px;
    font-size: 24px;
}

#user-data-container button {
    width: 80%;
    height: auto;
    margin: 15% 10% 0 10%;;
    background-color: var(--sidebar-button);
    border: solid 2px var(--sidebar-button-outline);
    color: var(--sidebar-text);
    font-size: 24px;
}

#user-data-container button:active {
    background-color: var(--sidebar-button-pressed);
}

#scramble-container {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    background-color: var(--sidebar-background);
    color: var(--sidebar-text);
}

#scramble-btns-container {
    flex-direction: column;
    gap: 5px;
}

#scramble-btns-container button {
    width: auto;
    height: 80%;
    padding: 0 16px;
    margin: 0 3%;
    background-color: var(--sidebar-button);
    border: solid 2px var(--sidebar-button-outline);
    color: var(--sidebar-text);
    font-size: 32px;
}

#scramble-btns-container button:active {
    background-color: var(--sidebar-button-pressed);
}

#scramble-text {
    width: 75%;
    height: 80%;
    padding-top: 24px;
    margin: 0 3%;
    text-align: center;
    font-size: 48px;
    overflow-x: hidden;
    overflow-y: auto;
}

#timer-container {
    user-select: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 85%;
}

#timer-container h2 {
    font-size: 48px;
    color: black;
}

#timer {
    width: 100%;
    text-align: center;
    font-size: 240px;
}

#current-averages {
    column-gap: 48px;
    font-size: 32px;
}

#options-page-border {
    display: none;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
    background-color: var(--options-page-border);
    border-radius: 20px;
}

#options-page {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    padding-bottom: 5%;
    background-color: var(--options-page-background);
    border-radius: 15px;
    font-size: 32px;
    overflow-y: auto;
}

#options-title {
    width: 100%;
    padding: 10px;
    border-bottom: 5px solid var(--options-page-border);
    text-align: center;
    font-size: 48px;
}

#inspection-time {
    outline: none;
    font-size: 32px;
}

#hide-during-solve {
    position: relative;
    top: 3.2px;
    width: 24px;
    height: 24px;
}

#hide-options-btn {
    width: auto;
    height: auto;
    padding: 0 16px;
    margin: 10% 3% 0 3%;
    font-size: 32px;
}


#show-user-data-btn, #hide-user-data-btn {
    display: none;
    width: 30%;
    height: auto;
    background-color: var(--sidebar-button);
    border: solid 2px var(--sidebar-button-outline);
    color: var(--sidebar-text);
    font-size: 32px;
}

#show-user-data-btn:active {
    background-color: var(--sidebar-background);
}

@media (max-width: 1100px) {
    #navbar-corner {
        height: 200px;
    }

    #user-data-container {
        width: 100%;
        height: auto;
        min-height: 600px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 10%;
    }

    #user-data-container button {
        margin: 3% 10%;
    }

    #icon-container {
        display: none;
    }

    #scramble-text {
        font-size: 32px;
    }

    #scramble-options-btn {
        font-size: 22.4px;
    }

    #timer {
        font-size: 80px;
    }

    #hide-user-data-btn, #show-user-data-btn {
        display:block
    }

    .hidden-media {
        display: none;
    }
}

@media (max-width: 750px) {
    #options-page {
        text-align: center;
        gap: 16px;
        font-size: 16px;
    }

    #inspection-time {
        font-size: 16px;
    }

    #hide-options-btn {
        font-size: 16px;
    }
}

/* General learning pages styling */

#learning-header {
    text-align: center;
    font-size: 64px;
    margin: 32px;
}

#learning-sub-header {
    text-align: center;
    font-size: 24px;
    margin: 16px;
}

#back-button {
    position: fixed;
    top: 96px;
    right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 48px;
    background-color: var(--sidebar-button); 
    border: 3px solid var(--sidebar-button-outline);
    font-size: 32px;
    color: black;
    text-decoration: none;
}

#back-button:hover {
    background-color: var(--sidebar-button-pressed);
    cursor: pointer;
}

/* learning-page.html styling */

#learning-links-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    height: auto;
    min-height: 70%;
    width: 60%;
    margin: 0 20%;
}

.learning-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    background-color: var(--learning-link-background);
    border: 5px solid var(--learning-link-border);
    border-radius: 10px;
    cursor: pointer;
}

.learning-link:hover {
    border: 2px solid var(--learning-link-border);
}

.learning-link-image {
    width: 60%;
}

.learning-link-label {
    text-align: center;
    font-size: 32px;
}

@media (max-width: 1200px) {
    
    #learning-links-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        padding-bottom: 20px;
    }
}

/* Notation page styling */

.notation-preamble {
    font-size: 24px;
    text-align: center;
}

.notation-preamble-div {
    font-size: 24px;
    width: 70%;
    margin: 0 15%;
}

.notation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
    width: 90%;
}

.notation-card, .f2l-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 16px;
    background-color: var(--algorithm-card-background);
    border: 8px solid var(--algorithm-card-border);
    border-radius: 16px;
}

.notation-img, .f2l-img {
    width: 100%;
    max-width: 300px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.notation-letter {
    font-size: 40px;
    margin: 8px;
    text-align: center;
}

.notation-description, .f2l-img-description {
    font-size: 16px;
    margin: 8px;
    text-align: center;
}

.learning-subheader {
    width: 100%;
    height: 72px;
    padding: 16px;
    background-color: var(--sidebar-background);
    text-align: center;
    font-size: 40px;
}

@media (max-width: 1200px) {
    .notation-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .notation-letter {
        font-size: 24px;
    }

    .notation-description, .f2l-img-description {
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    .notation-container {
        grid-template-columns: 1fr 1fr;
    }

    .learning-subheader {
        height: 64px;
        font-size: 32px;
    }
}

/* First 2 layers page styling */

#f2l-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: auto;
    background-color: var(--main-background);
}

.f2l-algorithms {
    display: flex;
    align-items: center;
}

.f2l-explanation {
    text-align: center;
    font-size: 24px;
}

/* Algorithm pages styling */

#filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 32px;
    height: 80px;
    font-size: 24px;
    background-color: var(--sidebar-background);
}

#algorithm-types {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    row-gap: 32px;
    height: 100%;
    padding: 28px 28px 16px 16px;
    overflow-y: auto;
}

#algorithm-types > label > input {
    width: 16px;
    height: 16px;
}

.algorithms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.algorithm-card {
    display: flex;
    align-items: center;
    width: 768px;
    height: 300px;
    margin: 16px;
    background-color: var(--algorithm-card-background);
    border: 8px solid var(--algorithm-card-border);
    border-radius: 16px;
}

.algorithm-img {
    width: 256px;
    height: 256px;
    margin: 0 32px;
}

.algorithm-text {
    text-align: center;
    width: 432px;
    padding-right: 10px;
}

.algorithm-name{
    margin: 0 auto;
    font-size: 40px;
}

.algorithm {
    font-size: 32px;
}

@media (max-width: 850px) {
    .algorithm-card {
        width: 80vw;
        height: 60vw;
    }

    .algorithm-img {
        width: 40%;
        height: 53.3%;
    }

    .algorithm-text {
        width: 50%;
        margin-right: 2%;
    }

    .algorithm-name {
        font-size: 32px;
    }

    .algorithm {
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    #filter-container {
        font-size: 16px;    
    }

    .algorithm-name {
        font-size: 16px;
    }
}

/* Solver page styling */

#cube-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 1032px;
    height: 776px;
    overflow: auto;
    margin: 50px;
    padding: 4px;
    background-color: var(--main-background);
}

.face {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4px;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 4px;
    width: 256px;
    height: 256px;
    background-color: black;
    border: 4px solid black;
    outline: 4px solid black;
}

#red-face {
    grid-column-start: 2;
    grid-row-start: 1;
}

#white-face {
    grid-column-start: 1;
    grid-row-start: 2;
}

#green-face {
    grid-column-start: 2;
    grid-row-start: 2;
}

#yellow-face {
    grid-column-start: 3;
    grid-row-start: 2;
}

#blue-face {
    grid-column-start: 4;
    grid-row-start: 2;
}

#orange-face {
    grid-column-start: 2;
    grid-row-start: 3;
}

.sticker {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.red {
    background-color: rgb(255,0,0);
}
.white {
    background-color: rgb(255,255,255);
}
.green {
    background-color: rgb(0,255,0);
}
.yellow {
    background-color: rgb(255,255,0);
}
.blue {
    background-color: rgb(0,0,255);
}
.orange {
    background-color: rgb(255,128,0);
}

#solve-btn, #random-scramble-btn {
    grid-column-start: 4;
    grid-row-start: 3;
    width: 192px;
    height: 64px;
    padding: 0;
    background-color: var(--solve-button-background);
    border: solid 4px var(--solve-button-border);
    color: var(--sidebar-text);
    font-size: 32px;
    cursor: pointer;
}

#solve-btn:active, #random-scramble-btn:active {
    background-color: var(--solve-button-pressed);
}

#solve-btn {
    margin: 40px 32px 0 32px;
}

#random-scramble-btn {
    margin: 120px 32px 0 32px;
}

#solution-output, #random-scramble-output {
    width: 1032px;
    height: auto;
    overflow: auto;
    margin: 50px;
    padding: 10px;
    background-color: var(--solution-output-background);
    border: 4px solid var(--solution-output-border);
}

#random-scramble-output {
    text-align: center;
    font-size: 36.8px;
}

#solution-output > p {
    margin: 20px;
    font-size: 40px;
}

.solver-error {
    text-align: center;
    font-size: 48px;
}

.solution-subheader {
    font-weight: bold;
}

.solution-alg {
    font-size: 32px;
}

@media (max-width: 1100px) {
    #cube-container {
        width: 810px;
        height: 596px;
    }
    
    .face {
        width: 196px;
        height: 196px;
    }

    .sticker {
        width: 60px;
        height: 60px;
    }

    #solve-btn, #random-scramble-btn {
        width: 150px;
        height: 64px;
        font-size: 24px;
    }

    #solution-output, #random-scramble-output {
        width: 810px;
    }
}

@media (max-width: 900px) {
    #cube-container {
        width: 568px;
        height: 404px;
    }
    
    .face {
        width: 132px;
        height: 132px;
        border: 2px solid black;
        outline: 2px solid black;
    }

    .sticker {
        width: 40px;
        height: 40px;
    }

    #solve-btn, #random-scramble-btn {
        width: 100px;
        height: 50px;
        font-size: 16px;
    }

    #solve-btn {
        margin: 20px 32px 0 32px;
    }
    
    #random-scramble-btn {
        margin: 80px 32px 0 32px;
    }

    #solution-output, #random-scramble-output {
        width: 568px;
    }

    #random-scramble-output {
        font-size: 28.8px;
    }
    
    #solution-output > p {
        font-size: 32px;
    }
    
    .solver-error {
        font-size: 40px;
    }

    .solution-alg {
        font-size: 24px;
    }
}

@media (max-width: 650px) {
    #cube-container {
        width: 296px;
        height: 224px;
        margin: 30px;
    }
    
    .face {
        width: 72px;
        height: 72px;
    }

    .sticker {
        width: 20px;
        height: 20px;
    }

    #solve-btn, #random-scramble-btn {
        width: 64px;
        height: 50px;
        font-size: 11px;
    }

    #solve-btn {
        grid-column-start: 1;
        grid-row-start: 3;
        margin: 10px 8px 0 0;
    }
    
    #random-scramble-btn {
        grid-column-start: 3;
        grid-row-start: 3;
        margin: 10px 0 0 8px;
    }

    #solution-output, #random-scramble-output {
        width: 296px;
        margin: 30px;
    }

    #random-scramble-output {
        font-size: 20.8px;
    }
    
    #solution-output > p {
        font-size: 24px;
    }
    
    .solver-error {
        font-size: 32px;
    }

    .solution-alg {
        font-size: 16px;
    }
}

/* Virtual Cube Page styling */

#virtual-cube-container {
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--main-background);
    overflow: hidden;
}

#virtual-cube-canvas {
    touch-action: none;
    transform: scale(3);
    image-rendering: crisp-edges;
}

.virtual-cube-btn-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    z-index: 2;
}

.virtual-cube-btn {
    width: 192px;
    height: 64px;
    background-color: var(--virtual-cube-button-background);
    border: solid 4px var(--virtual-cube-button-border);
    color: var(--sidebar-text);
    font-size: 32px;
    padding: 0 0;
    cursor: pointer;
}

.virtual-cube-btn:active {
    background-color: var(--virtual-cube-button-pressed);
}

#change-direction {
    position: absolute;
    width: 352px;
    left: calc(50% - 176px);
    top: 96px;
}

@media (max-height: 800px) {
    #virtual-cube-container {
        margin-top: 10px;
    }

    #virtual-cube-canvas {
        transform: scale(2);
    }
}

@media (max-width: 1000px) {
    #virtual-cube-container {
        flex-direction: column;
        justify-content: flex-start;
        gap: 70px;
        padding-top: 100px;
    }
    
    #virtual-cube-canvas {
        transform: scale(2);
    }

    .virtual-cube-btn-container {
        flex-direction: row;
        gap: 10px;
    }

    .virtual-cube-btn {
        width: 128px;
        height: 64px;
        font-size: 24px;
    }

    #change-direction {
        display: none;
    }
}

@media (max-width: 500px) {
    #virtual-cube-container {
        flex-direction: column;
        justify-content: flex-start;
        gap: 50px;
        padding-top: 100px;
    }

    #virtual-cube-canvas {
        transform: scale(1.5);
    }

    .virtual-cube-btn {
        width: 96px;
        height: 48px;
        font-size: 16px;
    }
}